# Precompile hearder files
*.gch
# Mac OS X tmp file
.DS_Store

# Sublimte Text tmp files
*.d

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
